<div class="container" *ngIf="commandScript">
  <div>
    <label>Order Name: </label>
    <input [(ngModel)]="commandScript.ScriptName">
  </div>
  <div>
    <label>Command Sender: </label>
    <select [(ngModel)]="commandScript.Sender">
      <option *ngFor="let n of getEntityNames()" [value]="n">{{n}}</option>
    </select>
  </div>
  <div>
    <label>Command Receiver: </label>
    <select [(ngModel)]="commandScript.Receiver">
      <option *ngFor="let n of getEntityNames()" [value]="n">{{n}}</option>
    </select>
  </div>
  
    Select action to edit:
    <ol>
      <li *ngFor="let a of commandScript.TacticalActions; let i = index">
        <span (click)="clickAction(a)">
          {{a.ActionType}} <button type="button" (click)="deleteAction(i)">X</button>
        </span>
      </li>
    </ol>

  <button type="button" (click)="addAction()">Add Action</button>
  <div *ngIf="selectedAction">
    <unit-command [tacticalAction]="selectedAction" [taskOrg]="taskOrg" [forceSide]="forceSide"></unit-command>
  </div>
</div>

