

<div  *ngIf="move">
  <h4>Move</h4>
  <div>
    <action-trigger [selectedTrigger]="move.ActionTrigger"></action-trigger>
  </div>
  <div>
    <label>Altitude above ground level (meters): </label>
    <input [(ngModel)]="move.AltMetersAGL">
  </div>
  <div>
    <label>Formation: </label>
    <select [(ngModel)]="move.Formation">
      <option *ngFor="let f of formationNames" [ngValue]="f"> {{f}}</option>>
    </select>
  </div>
  <div>
    <label>Movement speed (km/hr): </label>
    <input [(ngModel)]="move.MoveSpeed">
  </div>
  <div>
    <label>Tactical Graphic: </label>
    <div *ngIf="move.RouteGraphic">     {{move.RouteGraphic.graphicName}} </div>
    <select [(ngModel)]="move.RouteGraphic">
      <option *ngFor="let g of graphics" [ngValue]="g">
        {{g.graphicName}}
      </option>
    </select>
  </div>
</div>

